html {
  padding: 0 0.5rem;
}
.home_wallpaper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.home_wallpaper img {
  margin-top: 2rem;
}
img {
  display: block;
  max-width: 100%;
}
.home_wallpaper h3 {
  text-decoration: line-through;
  font-size: 2.3rem;
  margin-top: 1rem;
}
